:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --third-text-color: #000000;
  --main-font: 'Roboto', sans-serif;
  --border-color: #eeeeee;
  --social-icon-color: #afb1b8;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* Забрали підкреслення посилань */
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
/* Забрали маркери в списках */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Забрали відступи в заголовках */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
/* =============Components============ */
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
a {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*=======================HEADER=====================*/
.header {
  border-bottom: 1px solid var(--border-color);
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* логотип */
.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  color: var(--third-text-color);
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}

/* Навігація */
.main-nav {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.accent::after {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  top: 45px;
  border-radius: 2px;
}

.menu-connect {
  display: flex;
  align-items: center;
}
.link-nav {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.link-nav-item:not(:last-child) {
  margin-right: 50px;
}
.link-nav-item {
  position: relative;
}
.accent {
  color: var(--accent-color);
}
.list-item-connect {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  align-items: center;
}
.list-connect:nth-child(1) {
  margin-right: 50px;
}

.icon-conect {
  display: inline-block;
  align-self: center;
  margin-right: 10px;
  fill: var(--main-text-color);
}
.list-item-connect:hover .icon-conect,
.list-item-connect:focus .icon-conect {
  fill: var(--accent-color);
}
/* =======================END HEADER================ */

/* =======================MAIN====================== */
/* Hero */
.section-heroe {
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  max-width: 1600px;
  text-align: center;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/img-bg-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.section-heroe .conteiner {
  text-align: center;
  padding: 200px 252px;
}
.title-heroe {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
  margin-bottom: 30px;
}
.button {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  padding: 10px 32px;
}
.button:hover,
.button:focus {
  background-color: #188ae8;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5);
}
.modal {
  height: 581px;
  width: 528px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.button-close {
  position: absolute;
  right: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: var(--main-bg-color);
  padding: 6px;
  display: flex;
}
.button-close:hover {
  cursor: pointer;
}
.close-modal {
  fill: var(--third-text-color);
}
/* Our specifics */
.section-list-specifics,
.section-list-work {
  display: flex;
  justify-content: space-between;
}
.section-specifics {
  padding-top: 51px;
}
.list-specifics {
  width: 270px;
}
.list-icon-specifics {
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--third-bg-color);
  margin-bottom: 30px;
  padding: 25px 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.section-work {
  padding-top: 0;
}
.section-title {
  font-weight: bold;
  line-height: 1.14;
  font-size: inherit;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.section-text {
  line-height: 1.7;
}
.main-section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
  text-align: center;
}
.list-item-work {
  position: relative;
}
.thumb-work {
  position: absolute;
  display: flex;
  padding: 27px 0;
  bottom: 0px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-subtitle {
  width: 100%;
  text-align: center;
  margin: 0;
}
.thumb-work .section-title {
  color: var(--main-bg-color);
}
/* Team */
.section-list-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.list-team {
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  text-align: center;
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}
.section-command {
  background-color: var(--third-bg-color);
}
.photo-team {
  margin-bottom: 30px;
}
.name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
}
.menu-social-networks {
  display: flex;

  padding: 16px 32px 27px 32px;
}
.list-social-networks:not(:last-child) {
  margin-right: 10px;
}
.link-social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.link-social-networks:hover,
.link-social-networks:focus {
  background-color: var(--accent-color);
}
.social-icon {
  fill: var(--social-icon-color);
}
.link-social-networks:hover .social-icon,
.link-social-networks:focus .social-icon {
  fill: var(--main-bg-color);
}
/* Client */
.list-client {
  display: flex;
}
.link-client {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-color);
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.list-item-client:not(:last-child) {
  margin-right: 30px;
}
.icon-client {
  fill: var(--social-icon-color);
}
.link-client:hover,
.link-client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.link-client:hover .icon-client,
.link-client:focus .icon-client {
  fill: var(--accent-color);
}
/* =======================END MAIN====================== */
/* ========================FOOTER======================= */
.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .logo {
  margin-bottom: 20px;
}
.footer-contact,
.adress {
  line-height: 1.71;
  font-style: normal;
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--main-bg-color);
}
.footer-logo {
  color: var(--main-bg-color);
}
.adress {
  color: var(--main-bg-color);
}
.list-item-footer:not(:last-child) {
  margin-bottom: 9px;
}
.conteiner-footer {
  display: flex;
  align-items: baseline;
}
.footer-text {
  color: var(--main-bg-color);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .logo {
  margin-right: 0;
}
.footer-social-conteiner {
  margin-left: 70px;
}
.footer-menu-social-networks {
  display: flex;
}

.footer-menu-social-networks .social-icon {
  fill: var(--main-bg-color);
}
.footer-menu-social-networks .link-social-networks {
  background-color: rgba(255, 255, 255, 0.1);
}
.link-social-networks:hover,
.link-social-networks:focus {
  background-color: var(--accent-color);
}
/* ========================END FOOTER======================= */
/* ========================PORTHOLIO======================== */
.secret-title {
  display: none;
}
.menu-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--secondary-text-color);
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  text-align: center;
  padding: 6px 22px;
}

.nav-btn:hover,
.nav-btn:focus {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-btn:not(:last-child) {
  margin-right: 8px;
}
.subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.desc-text {
  font-size: 16px;
  line-height: 1.89;
}
.list-img {
  background-color: var(--main-bg-color);
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.list-item-img {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.link-portfolio {
  text-decoration: none;
  color: var(--main-text-color);
  display: block;
}
.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.menu-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-bg-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-portfolio:hover .portfolio-text,
.link-portfolio:focus .portfolio-text {
  transform: translateY(0);
}
.btn-red {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  width: 400px;
  height: 150px;
  color: #188ae8;
  background-color: #e86b18;
  font-size: 36px;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  margin: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.btn-red::after {
  content: '';

  display: inline-block;
  width: 40px;
  height: 40px;

  background-image: url(../images/icon/antenna.svg);
  margin-left: 15px;
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-red::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 249px;
  transform: translateY(calc(-50% - 100px));
  display: inline-block;
  width: 40px;
  height: 40px;

  background-image: url(../images/icon/astronaut.svg);

  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-red:hover {
  background-color: #e7dcdc;
  color: #000000;
}
.btn-red:hover::after {
  transform: translateY(100px);
}
.btn-red:hover::before {
  transform: translateY(-50%);
}
.menu-button {
  display: flex;
  margin: 50px;
}
.link-btn {
  position: relative;
  color: red;
  font-size: 20px;
  overflow: hidden;
  padding: 10px;
}
.link-btn::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background-color: darkred;
  right: 0;
  top: 0;
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.link-btn:not(:last-child) {
  margin-right: 80px;
}
.link-btn-list {
  background-color: rgba(0, 0, 0, 0.295);
}
.link-btn:hover::before {
  transform: scale(1);
}
.menu-link-btn {
  transform: translateX(-105px);
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(185, 233, 122);
}
.link-btn:hover .menu-link-btn {
  transform: translateX(0);
}
a {
  text-decoration: none;
  color: #000000;
}
.scene {
  width: 360px;
  height: 300px;
  border: 1px solid #ccc;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 26px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: rgb(202, 195, 195);
  background-image: url(../images/portfolio/img.jpg);
  background-repeat: no-repeat;
  object-fit: contain;
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}
